
p {
    color: #EE4835;
    font-size: 16px;
    font-family: "inter";
}

a { 
    text-decoration: none;
    font-family: "inter";
    color: #EE4835;
    font-size: 16px;
}

.top-line{
    color: #EE4835;
    font-size: 16px;
    text-decoration: none;
}

.header-container {
    width: 1167px; 
    margin: 0 auto; 
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    max-width: 1167px;
    margin: 0 auto;
}

h1 {
    color: #EE4835;
    font-size: 370px;
    margin: unset;
    font-family: "ultra";
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #EE4835; 
    border-radius: 100px;
    text-align: center; 
    display: inline-block;
    padding: 10px 20px; 
    font-family: "roboto mono";
}

#year{
    background-color: #EE4835; 
    color: #FFFFFF;
    padding: 10px 14px; 
}

#traits{
    background-color: #ffffff; 
    color: #EE4835;
    padding: 10px 14px; 
    border: 2px solid #EE4835;
}

hr {
    border: 1.5px solid #EE4835; 
  }
  
.special-links a {
    text-decoration: none;
    font-family: "roboto mono";
    color: #EE4835;
    font-size: 35px;
}